.broker h1#headline{
    padding-top: 5px;
    padding-bottom:30px;
    width:100%;
    background:white;
    max-width:-webkit-fill-available;
}

#headline span {
    font-family: sans-serif;
    font-weight: 700;
    padding-top:50px;
}

#headline .lang span {
    display: none;
}

#headline .lang-da:after {
    content: "Log ind";
    color:#6aa334;
}

#headline .lang-en:after {
    content: "Log in";
    background-image:url("https://verdant-chaja-150d83.netlify.app/elgiganten.svg");
}


.criipto-qr-code .text{
    font-family: sans-serif;
    font-weight:bold;
    color:#6aa334;
}

.criipto-qr-code{
    text-align:center;
}

.criipto-eid-btn {
    border-radius: 2.6875rem;
    font-size: 1.1875rem;
}
#criipto_react_root{
    background:#041753;
}
#frame{
    background:#041753;
}
.criipto-eid-selector .criipto-qr-code{
    background:#041753;
}
.svg-inline--fa {
    display: none;
}

.criipto-verify-button.criipto-eid-btn.criipto-cancel-btn {
    border: .0625rem solid #6aa334;
}

.criipto-cancel-btn {
    font-family: sans-serif;
    font-weight: bold;
}

.criipto-cancel-btn .lang span {
    display: none;
}

.criipto-cancel-btn .lang-en:after {
    content: "Create Account";
    color: #6aa334;
}

.criipto-cancel-btn .lang-da:after {
    content: "Opret Konto";
    color: #6aa334;
}
